BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 120
DerivePointerAlignment: false
PointerAlignment: Left
ReflowComments: true
SortIncludes: true
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
AllowShortFunctionsOnASingleLine: Empty


