Checks: |
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  performance-*,
  -performance-avoid-endl,
  modernize-*,
  -modernize-pass-by-value,
  -modernize-use-trailing-return-type,
  readability-*,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-qualified-auto,
  -readability-braces-around-statements,
  -readability-simplify-boolean-expr,
  -readability-implicit-bool-conversion,
  -readability-identifier-naming,
  portability-*,
  hicpp-use-auto
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|examples|test)/.*'
FormatStyle: none


