Checks: |
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  modernize-*,
  readability-*,
  portability-*,
  cppcoreguidelines-avoid-magic-numbers,
  hicpp-use-auto
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|examples|test)/.*'
FormatStyle: none
CheckOptions:
  - key:             readability-identifier-naming.VariableCase
    value:           lower_case
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           _


